#produtos-do-carrinho {
    border-bottom: solid 1px #ccc;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    height: 25%;
    padding-top: 0.4rem;
}

#produtos-do-carrinho img {
    max-height: 100%;
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 1/5;
}

#produtos-do-carrinho .remover {
    grid-column: 1/2;
    grid-row: 5/6;
    font-size: 0.6rem;
    color: red;
}

#produtos-do-carrinho .nome {
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2%;
}

#produtos-do-carrinho .tamanho {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 0.7rem;
    color: #a7a7a7;
    padding: 2%;
}

.quantidades {
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#produtos-do-carrinho .menos {
    background-color: #fff;
    height: 3vh;
    width: 3vh;
    justify-content: center;
    font-size: 0.7rem;
    border: 1px solid black;
    padding: 3%;
    cursor: pointer;
    transition: 0.3s;
}

#produtos-do-carrinho .menos:hover {
    background-color: #efb9d6;
}

#produtos-do-carrinho .mais {
    background-color: #fff;
    height: 3vh;
    width: 3vh;
    justify-content: center;
    font-size: 0.7rem;
    border: 1px solid black;
    padding: 3%;
    cursor: pointer;
    transition: 0.3s;
}

#produtos-do-carrinho .mais:hover {
    background-color: #efb9d6;
}

#produtos-do-carrinho .quantidade {
    background-color: #fff;
    height: 3vh;
    width: 3vh;
    justify-content: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 3%;
}

#produtos-do-carrinho .preco {
    grid-column: 4/5;
    grid-row: 1/2;
    font-size: 0.9rem;
    font-weight: bold;

}

#produtos-do-carrinho .parcela {
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: 0.7rem;
    color: #a7a7a7;

}