@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Proza+Libre&family=Satisfy&family=Spectral&display=swap');

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: 'Roboto', sans-serif;*/
}

    /* fundo da pagina */
body #primeiraDiv{
    display: block;
    position: relative;
}

#fundo {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100vh;
}

.carrinho-aberto {
    grid-column: 4/5;
    grid-row: 1/4;
    box-shadow: -4px 1px 17px 0px rgb(0 0 0 / 57%);
}